* {
  margin: 0;
}

main {
  text-align: center;
  vertical-align: center;
  height: 100vh;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

#footerContainer {
  background-color:#f1faee;
  min-height: 10%;
  grid-area:footer;
  display: flex;
  position:relative;
  bottom: 0;
  zoom: 0.78;
}

#logoAndName {
  display:flex;
  margin-top: 5px;
  font-size: 15px;
  align-items: center;
  color: #333333;
}

#DumbbellImgFooter {
  position:relative;
  top: 0;
  width: 30px;
  height: 20px;
  max-height: 40%;
  margin:10px;
}

#copyrightFooter {
  position: absolute;
  bottom: 0;
  left: 2px;
  font-size:15px;
  margin:10px;
  color: #333333;
}

#linkedinImg {
  position: absolute;
  top:25%;
  right:15px;
  height:55%;
  width:40px;
  max-height: 50px;
  max-width: 50px;
  min-width: 50px;
  min-height: 50px;
}

#gitHubImg {
  position: absolute;
  top:15%;
  right:70px;
  width:50px;
  height:70%;
  max-height: 68px;
  max-width: 60px;
  min-width: 60px;
  min-height: 68px;
}

#login {
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  min-height: 700px;
}

#contents {
  border-style: solid;
  padding: 100px;
  border-color: #457b9d;
  border-width: thick;
  color: #457b9d;
  display:flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

#loginContent {
  display:flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

#loginHeader {
  border-bottom: solid;
  border-color: #457b9d;
  border-width: thick;
  margin-bottom: 10px;
}

#signUp, #a {
  width: 100%;
}

#loginButton, #signUp {
  width: 100%;
  background-color: #457b9d;
  padding: 8px;
  color: white;
}
