/* 1. Basic and Reset Styles */
* {
  margin: 0;
}

main {
  text-align: center;
  vertical-align: center;
  height: 100vh;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: rgba(0, 0, 0, 0.8); /* This is the unified opaque background */
  overflow-x: hidden;
}

/* 2. Nav Component */
.nav-navbar {
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  background-color: #f1faee;
  padding: 0 2rem; 
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-link-list {
  display: flex;
  gap: 1.5rem;
}

.nav-link-item {
  list-style: none;
  font-family: 'Arial', sans-serif;
  color: #457b9d;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.nav-login-logout-btn {
  font-family: 'Arial', sans-serif;
  color: #457b9d;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  border: 2px solid #457b9d;
}

.nav-link-item:hover, .nav-login-logout-btn:hover {
  background-color: #457b9d;
  color: #f1faee;
  transform: scale(1.05); 
}

.nav-user-section {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.nav-user-name {
  font-family: 'Helvetica', sans-serif;
  margin-right: 10px;
  color: #457b9d;
}

.nav-userImage {
  height: 4rem;
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nav-userImage:hover {
  transform: scale(1.1); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}


/* 3. Footer Component */
#footerContainer {
  padding: .6rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
}

#footerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#leftColumn {
  display: grid;
  grid-template-rows: auto auto;
}

#logoAndName {
  font-size: 1rem;
  color: #333333;
  margin-bottom: 0.5rem;
  font-size: .7rem;
}

#socialLinks {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

#linkedinImg {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

#gitHubImg{
  width: 70px;
  height: 70px;
  transition: transform 0.3s ease-in-out;
}

#linkedinImg:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#gitHubImg:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#copyrightFooter {
  font-size: 0.8rem;
  color: #333333;
}


/* 4. Home Background */
.home-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  color: rgba(241, 250, 238, 0.9);
  font-family: 'Helvetica Neue', sans-serif;
  border-bottom: none; 
  z-index: 1;
  background: none; /* remove background */
  position: relative;
}

.home-background-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
  z-index: -1;
  margin-top: 1.5rem;
  width: 93%;
  height: 95%;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  filter: none;
}

.home-title h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.home-subtitle {
  color: #FFFFFF; /* White color for high contrast */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow to make text pop */
  background-color: rgba(5, 56, 73, 0.8); /* Semi-transparent black background for better visibility */
  padding: 5px 15px; /* Some padding to give the background some space around the text */
  border-radius: 5px; /* Rounded corners for aesthetic appeal */
  display: inline-block; /* So the background hugs the text more closely */
}


/* 5. Recommendation Section */
.rec-image {
  max-width: 60%;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  transition: transform 0.3s;
}

.rec-destination-name {
  font-size: 1.5rem;  /* increased font size for better visibility */
  color: #555;
  font-weight: 600;  /* adjusted weight for clarity */
}

.rec-section {
  padding: 2rem 4rem;
  text-align: center;
  background: none; /* remove background */
  margin: -2rem 0 2rem 0;
  border-radius: 12px;
  z-index: 1;
}

.rec-title {
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-family: 'Helvetica Neue', sans-serif;
}

.layered-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1; 
  background-size: cover;
  background-position: center;
  filter: blur(8px);
}

.rec-content {
  display: flex;
  align-items: center; /* Vertically center align the children */
  justify-content: center; /* Horizontally center align the children */
  gap: 1rem; /* A gap between the image and the + icon for aesthetics */
}

/* Add Icon */

.add-icon {
  right: 15px;
  top: 15px;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer; /* Makes it look clickable */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.idx-pg-msg {
  text-align: center;
  margin-bottom: 1rem;
}

.idx-pg-inputs {
  width: 100%;
  margin-bottom: 0.5rem;
}

.idx-pg-notes {
  height: 4rem;
  width: 97%;
}

.idx-pg-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 70%; /* Making the locations section wider than the form */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.idx-pg-form-container {
  width: 50%; /* Making the form narrower */
  margin-left: auto;
  margin-right: auto;
}



/* 6. Index Page */

.idx-pg-container {
  padding: 1rem 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* full screen height */
  box-sizing: border-box;
}

.idx-pg-header {
  letter-spacing: 2px;
  color: #333333;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-align: center;
}

.idx-pg-form-container {
  max-width: 500px;
  margin-bottom: 2rem;
}

.idx-pg-form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center; /* added this to center children elements */
}

.idx-pg-inputs {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
  width: 100%;
}

.idx-pg-notes {
  padding: 1rem;
  width: 97%;
}

.idx-pg-form-container input:focus {
  border-color: #333;
  outline: none;
}

.idx-pg-form-container input[type="submit"] {
  background-color: #333;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
  margin: 0 auto; /* center the button horizontally */
  display: block; /* make the button block-level */
}

.idx-pg-form-container input[type="submit"]:hover {
  background-color: #555;
}

.idx-pg-form-container p {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #777;
}

.idx-pg-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
  max-width: 1100px;
  max-height: 500px;
  overflow-y: auto;
  padding: 1rem;
}

.idx-pg-location-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.idx-pg-location-image:hover {
  transform: scale(1.05);
}

.idx-pg-location-name {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #555;
  letter-spacing: 1.5px;
  text-align: center;
}

.idx-pg-msg {
  margin-bottom: 1rem;
}


/* Show Page */
.show-pg-container {
  min-height: 90%;
  background: rgba(0, 0, 0, 0.7); /* Use the same background as the rest of the pages */
  margin: 0;
}

.show-pg-name {
  padding: 2rem 0 1rem 0;
  font-size: 3rem;
  letter-spacing: 1.5px;
  color: antiquewhite;
}

.show-pg-description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: antiquewhite;
}

.show-pg-photos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.show-pg-photos img {
  max-width: 100%;
  height: 35rem;
  border-radius: 5px; /* Added border-radius */
  margin: 1rem;
}

.show-pg-delete-btn {
  font-family: 'Arial', sans-serif;
  color: red; /* Made it red */
  padding: 10px 20px;
  border-radius: 20px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  border: 2px solid red;
  cursor: pointer;
  margin-bottom: 1rem;
}

.show-pg-delete-btn:hover {
  background-color: red;
  color: #f1faee;
  transform: scale(1.05); 
}
