/* 1. Basic and Reset Styles */
* {
  margin: 0;
}

main {
  text-align: center;
  vertical-align: center;
  height: 100vh;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: rgba(0, 0, 0, 0.8); /* This is the unified opaque background */
  overflow-x: hidden;
}

/* 2. Nav Component */
.nav-navbar {
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  background-color: #f1faee;
  padding: 0 2rem; 
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-link-list {
  display: flex;
  gap: 1.5rem;
}

.nav-link-item {
  list-style: none;
  font-family: 'Arial', sans-serif;
  color: #457b9d;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.nav-login-logout-btn {
  font-family: 'Arial', sans-serif;
  color: #457b9d;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  border: 2px solid #457b9d;
}

.nav-link-item:hover, .nav-login-logout-btn:hover {
  background-color: #457b9d;
  color: #f1faee;
  transform: scale(1.05); 
}

.nav-user-section {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.nav-user-name {
  font-family: 'Helvetica', sans-serif;
  margin-right: 10px;
  color: #457b9d;
}

.nav-userImage {
  height: 4rem;
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nav-userImage:hover {
  transform: scale(1.1); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}


/* 3. Footer Component */
#footerContainer {
  background-color:#f1faee;
  min-height: 10%;
  grid-area:footer;
  display: flex;
  position:relative;
  bottom: 0;
  zoom: 0.78;
}

#logoAndName {
  display:flex;
  margin-top: 5px;
  font-size: 15px;
  align-items: center;
  color: #333333;
}

#DumbbellImgFooter {
  position:relative;
  top: 0;
  width: 30px;
  height: 20px;
  max-height: 40%;
  margin:10px;
}

#copyrightFooter {
  position: absolute;
  bottom: 0;
  left: 2px;
  font-size:15px;
  margin:10px;
  color: #333333;
}

#linkedinImg {
  position: absolute;
  top:25%;
  right:15px;
  height:55%;
  width:40px;
  max-height: 50px;
  max-width: 50px;
  min-width: 50px;
  min-height: 50px;
}

#gitHubImg {
  position: absolute;
  top:15%;
  right:70px;
  width:50px;
  height:70%;
  max-height: 68px;
  max-width: 60px;
  min-width: 60px;
  min-height: 68px;
}

/* 4. Home Background */
.home-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  color: rgba(241, 250, 238, 0.9);
  font-family: 'Helvetica Neue', sans-serif;
  border-bottom: none; 
  z-index: 1;
  background: none; /* remove background */
  position: relative;
}

.home-background-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
  z-index: -1;
  margin-top: 1.5rem;
  width: 93%;
  height: 95%;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  filter: none;
}

.home-title h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.home-subtitle {
  color: #FFFFFF; /* White color for high contrast */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow to make text pop */
  background-color: rgba(5, 56, 73, 0.8); /* Semi-transparent black background for better visibility */
  padding: 5px 15px; /* Some padding to give the background some space around the text */
  border-radius: 5px; /* Rounded corners for aesthetic appeal */
  display: inline-block; /* So the background hugs the text more closely */
}


/* 5. Recommendation Section */
.rec-image {
  max-width: 60%;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  transition: transform 0.3s;
}

.rec-destination-name {
  font-size: 1.5rem;  /* increased font size for better visibility */
  color: #555;
  font-weight: 600;  /* adjusted weight for clarity */
}

.rec-section {
  padding: 2rem 4rem;
  text-align: center;
  background: none; /* remove background */
  margin: -2rem 0 2rem 0;
  border-radius: 12px;
  z-index: 1;
}

.rec-title {
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-family: 'Young Serif', serif;
}

.layered-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1; 
  background-size: cover;
  background-position: center;
  filter: blur(8px);
}
